
  .text2 {
    color: hsla(267, 91%, 9%, 0.774);
    font-size: 23px;
    width: 880px;
    text-align: center;
    /* justify-content: ;  */
    margin-left: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -100px;
    
   
  }
