 .lll {
    align-content: center;
    text-align: center;
    place-content: center;
    font-size: large;
    background-color: aqua;
    color: pink;
    margin-right: 600px;
    background-position: ;
}