.hero-container {
    background-image: url('./backgroundimg2.png'); 
    height: 100%;
    
    top: 0;
    width: 100%;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    /* object-fit: contain; */
    
  } 

  .text1 {
    color: hsla(267, 91%, 9%, 0.774);
    font-size: 23px;
    width: 880px;
    text-align: center;
    /* justify-content: ;  */
    margin-left: 850px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -100px;
    
   
  }

  /* .hero-container > p {
    margin-top: -40px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  } */

  .aboutuslogo {
    padding-right: '500px';
  }
 